{% if layout %}
    {% if layout.acf_fc_layout == 'content_block' %}
      {% include "partials/blocks/block-" ~  layout.block_type ~ ".twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'title' %}     
      {% include "partials/components/sec-title.twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'quote_block' %}  
      {% include "partials/components/quote.twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'title' %}
      {% include "partials/components/sec-title.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='padding_box' %}
    {{ ('<section class="padding_box" style="height:' ~  layout.size ~ 'px;">') }}
            <div class="container">
              <div class="row"></div>
            </div>
          </section>
    {% elseif  layout.acf_fc_layout =='iframe_block' %}
      <section class="iframe-block">
        <div class="container">
          <div class="row">
            {{ layout.iframe }}
          </div>
        </div>
      </section>
    {% elseif  layout.acf_fc_layout =='image' %}
      {% include "partials/components/image.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='accordion_block' %}
      {% include "partials/components/accordion.twig" with {'type': layout} %}
    {% endif %}
  {% endif %}