<section id="{{ type.block_id }}" class="quote-block">
    <div class="container  quote-block__container">
        <div class="row">
            <div class="col-md-4">
                <div class="quote-block__img">
                    <img src="{{ type.image }}">
                </div>
            </div>
            <div class="col-md-8 quote-block__content">
                <div>
                    <div class="quote-block__quote">
                        {{ type.content }}
                    </div>
                    <div class="quote-block__title">
                        {{ type.title }}
                    </div>

                    <div class="quote-block__subtitle">
                          {{ type.subtitle }}
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</section>  