{% set item = type.single %}    
<section id="{{ type.block_id }}" class="content-block content-block__{{ type.order }} ">
    <div class="container">
        <div class="text-center content-block__title">
            <div class="d-flex flex-wrap justify-content-center w-100">
                <h2 class="section-title pr-3">
                   {{ item.title }}
                </h2>
                <h3 class="section-title section-title--red">
                    {{ item.subtitle }}
                </h3>
            </div>    
        </div>
        <div class="text-center">
            <div class="content-block__content">{{ type.content }}</div>
            <div class="content-block__buttons content-block__buttons-center">
                {% for button in item.buttons %}
                    <a href="{{ button.button_link }}"> {{ button.button_text }}</a>
                {% endfor %}    
            </div>
        </div>
    </div>
</section>