{% extends "singular.twig" %}


{% block singular_article_class ' c-article-beta' %}


{% block content_area_inner_content %}

  {% for layout in frontpage.meta("flexible_content_main") %}
	  {% include "partials/flexible.twig" with {'type': layout} %}
  {% endfor %}
  {{ parent() }}
{% endblock %}
